/* Nav-Bar BUTTONS*/
button { 
    background-color: transparent;
    color: white; 
    padding: 10px 20px;
    border: none;
    font-family: Arial, sans-serif;
    cursor: pointer;
    float: right;
    margin-left: 10px; 
    transition: transform 0.3s ease;
    font-size: 1.1em;
}

button:hover,
button:focus {
    transform: scale(1.1);
}
#access {
    background-color: rgba(232, 232, 232, 0.5);
    border-radius: 5px;
}
#access:hover {
    transform: scale(1.1);
    background-color: rgba(218, 218, 218, 0.7);
} 
#access-btn {
    background-color:#80D9F1;
    color: #FFF6EB;
    border-radius:7px;
}
/* BODY */  
body {
    font-family: "Hedvig Letters Serif", sans-serif;
    margin: 0;
    padding: 20px;
    background-image: url('https://images.unsplash.com/photo-1464618663641-bbdd760ae84a?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8d2Vic2l0ZSUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D'); 
    background-size: cover;
    background-position: center;
    background-color: #FFF6EB;
    color: rgba(56, 47, 158, 0.7);
} 
#hr-primary {
    color:#FFF6EB;
    visibility: visible;
}
hr {
    visibility: hidden;
}


/* HEADER (of the body) */ 
header {
    background-color: rgba(255, 246, 235, 0.3);
    text-align: center;
    padding: 20px;
    font-family: "Hedvig Letters Serif", sans-serif;
    margin-top: 40px;
}
header h1 {
    font-family: "Hedvig Letters Serif", sans-serif;
    font-size: 2em;
    margin-bottom: 10px;
    font-weight: bold;
}
header p {
    font-size: 1.2em;
}  

/* SECTION (of the body) */
section {
    padding: 40px;
    color: rgba(56, 47, 158, 0.7);
    margin: 20px;
}
#subscription{
    display: flex;
    justify-content: center;
    text-align: center;
}

img {
    width: 40%;
    height: auto;
    margin: 40px;
    transition: transform 0.3s ease-in-out;
    display: block;
    border-radius: 4px;
}

#first-img:hover,
#second-img:hover,
#third-img:hover {
    transform: scale(1.1);
}

section figcaption {
    width: 40%;
    padding: 20px;
    color: rgb(80, 88, 213);
    background-color: rbga(255, 246, 235, 0.7);
    border-radius: 6px;
    border: 2px solid;
    border-color: FFF6EB;
    margin: 40px, 20px, 40px, 20px;
}

#first-img,
#third-img,
.float-right {
    float: right;
    margin-right: 30px; 
    margin-bottom: 30px;
}
#second-img, 
#left {
    float: left;
    margin-left: 30px; 
}
#second-img {
    margin-bottom: 30px;
}
#fig1,
#fig2,
#fig3 {
    display: flex;
    align-items: center;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #d9d9d9;
}
footer p {
    font-size: 0.8em;
}
.info-footer {
    text-align: center;
    margin-top: 20px;
}
.info-footer p {
    margin: 5px 0;
} 

/* Social Media Icons*/
.social-media-icons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
} 
.social-media-icons a {
    margin: 0 10px;
    text-decoration: none;
}
.social-media-icons img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    filter: invert(1);
}
.social-media-icons img:hover {
    transform: scale(1.2);
} 



.arrow-down {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid orange; 
}

table {
    width: 100%; 
    margin-top: 20px; 
    border-collapse: collapse; 
}

table, th, td {
    border: 1px solid #F2AC53; 
}

th, td {
    padding: 8px;
    text-align: left;
}

