/* Nav-Bar BUTTONS*/
button { 
    background-color: transparent;
    color: white; 
    padding: 10px 20px;
    border: none;
    font-family: Arial, sans-serif;
    cursor: pointer;
    float: right;
    margin-left: 10px; 
    transition: transform 0.3s ease;
}

button:hover,
button:focus {
    transform: scale(1.1);
}
#access-button {
    background-color: rgba(232, 232, 232, 0.5);
    color: white;
    border-radius: 10px;
}
#access-button:hover {
    transform: scale(1.1);
    background-color: rgba(218, 218, 218, 0.7);
} 

/* BODY */ /* 
body {
    font-family: "Hedvig Letters Serif", sans-serif;
    margin: 0;
    padding: 20px;
    background-image: url('https://cdn.mos.cms.futurecdn.net/aFB2p4XLvtZNYXPLnniNdQ-1200-80.jpg'); 
    background-size: cover;
    background-position: center;
} */

/* HEADER (of the body) */ /* 
header {
    background-color: rgba(252,153,4, 0.7);
    text-align: center;
    padding: 40px;
}
header h1 {
    font-family: "Hedvig Letters Serif", sans-serif;
    font-size: 2em;
    margin-bottom: 10px;
    font-weight: bold;
}
header p {
    font-size: 1.2em;
}  */

/* SECTION (of the body) *//* 
section {
    padding: 40px;
    background-color: #FFF6EB;
    color: rgba(56, 47, 158, 0.7);
    margin: 20px;
}
img {
    width: 300px;
    height: auto;
    margin: 20px;
    transition: transform 0.3s ease-in-out;
    display: block;
    margin-bottom: 10px;
    border-radius: 8px;
    
}

#first-img:hover,
#second-img:hover,
#third-img:hover {
    transform: scale(1.1);
}

section figcaption {
    width: 40%;
    padding: 20px;
    color: rgb(141, 147, 241);
}

#first-img,
#third-img {
    float: right;
    margin-right: 20px; 
}
#second-img {
    float: left;
    margin-left: 20px; 
}
*/
/* FOOTER *//* 
footer {
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #d9d9d9;
}
footer p {
    font-size: 0.8em;
}
.info-footer {
    text-align: center;
    margin-top: 20px;
}
.info-footer p {
    margin: 5px 0;
} */

/* Social Media Icons*/
.social-media-icons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
} 
.social-media-icons a {
    margin: 0 10px;
    text-decoration: none;
}
.social-media-icons img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    filter: invert(1);
}
.social-media-icons img:hover {
    transform: scale(1.2);
} */
